[Unit]
Description=Replace default config files
Before=duetcontrolserver.service

[Service]
ExecStart=/usr/bin/replace-dsf-configs
ExecStartPost=systemctl disable replace-dsf-config.service
Type=oneshot

[Install]
WantedBy=basic.target
